.button {
	width: fit-content;
	padding: 8px 15px;
	font-size: 20px;
	color: #ffffff;
	background: #a5c7f9;
	border-radius: 5px;
	border: none;
	user-select: none;
	position: relative;
	cursor: pointer;
}
